.glitch {
    /* width: 900px; */
    height: 700px;
    margin-left: 10px;
    margin-top: -700px;
    margin-bottom: 90px;
    /* position: relative; */
    z-index: -2;
  }
  


  /* HYDRO TUBE HEAT EXCHANGERS */
  .glitch-static-psot5 {
    background: url('../assets/images/pressure/prst5/psot51.png') no-repeat center center;
    background-size: contain;
  }

  .glitch-active-psot5 {
    animation: glitch-psot5 1.5s infinite steps(1);
  }
  
  @keyframes glitch-psot5 {
    10%, 100% {
      background: url('../assets/images/pressure/prst5/psot52.png') no-repeat center center;
      background-size: contain;
    }
    25% {
      background: url('../assets/images/pressure/prst5/psot53.png') no-repeat center center;
      background-size: contain;
      opacity: 1;
    }
    50% {
      background: url('../assets/images/pressure/prst5/psot54.png') no-repeat center center;
      background-size: contain;
      opacity: 1;
    }
    99% {
      background: url('../assets/images/pressure/prst5/psot55.png') no-repeat center center;
      background-size: contain;
      opacity: 1;
    }
  }






  